<div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-lg-6 col-12">
            <h3 class="text-uppercase mt-3 font-weight-bold text-black">About Us</h3>
            <hr>
            <p class="text-capitalize"><em>Barog Valley is a Digital platform where real estate transactions are taking place much Safer and Faster. We not only assist you in finding the ideal real estate as per your requirements, but also ensure that your buying experience is as smooth as Possible. <br>
              <br>
              We understand that while Purchasing or Leasing a property, there are a lot of factors to be taken into consideration, like the locality, preferred area, budget, amenities, and a lot more. </em></p>
            <p class="text-capitalize"><em>Barog Valley is a Digital Real Estate Listing Platform where you will find the Poshest property available across Himachal Pradesh, Chandigarh, Panchkula and Mohali. Whether you are looking for a rented property or planning to build your own dream Home.<br>
              <br>
              We offer residential and commercial property listings for both sale and rent across Himachal Pradesh, Punjab and Haryana. If you wish to make property investment in top cities, we provide detailed information of various properties on sale, upcoming projects by renowned builders, budget residential apartments, commercial spaces, shops, etc. across cities like Solan, Shimla, Chandigarh, Panchkula, Barog, Kharar, SAS Nagar and many more. The Diversified listings that are advertised here give you an excellent overview of all property available in the areas under your consideration. <br>
               <br>
               All Indians Can purchase i.e. NON Himachali, Finance Facility available, we handle all services In-House Non Himachali can buy Property Residential or Commercial in Himachal Pradesh through us.</em></p>
          </div>
          <div class="col-lg-6 col-12">
            <h3 class="text-uppercase mt-3 font-weight-bold text-black">Latest News</h3>
            <hr>
            <div>
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tax Benefits In<br> Real Estate :</h5>

              <h6 class="mt-3">1. Section 24</h6>
              Section 24 allows you to claim exemptions on the interest you pay on home loans. This section goes by the title ‘Deductions from income from house property’. Under this section, deductions are allowed from the income that an individual earns through house property. You can do only 2 types of deductions; Net Annual Value which is Standard deduction and Interest on Borrowed Capital. No other deductions are allowed under Section 24.

              <h6 class="mt-3">2. Section 80C</h6>

              Under this section you can claim tax benefits on the repayment of the principal amount. You can claim deductions on investments made in the return of income. The income should be for the year in which the investment was made. The maximum tax saving limit is Rs 1.5 lakh. There is no minimum limit.

              <h6 class="mt-3">3. Capital Gains</h6>

              A capital gain can be short term or long-term. You can claim capital gain on income taxes. Short-term capital is taxed as ordinary income, so it depends on the tax bracket. A long-term capital depends on the income, your marital status, etc.
              <br><br></div> 
            <a href="#"><img class="ml-3" src="assets\images/75X.gif" alt="placeholder image"></a> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-2">
        <h3 class="text-uppercase mt-3 font-weight-bold text-black">Contact Us</h3>
        <hr>
        <address>
        <strong>Barog Valley Harison Homes</strong><br>
          NH5, Village Dhagota, P/o.Kumarhatti Tehsil &amp; Bypass, Opposite DAV School <br>
          Barog, Himachal Pradesh 173229
        </address>
          <a href="https://www.g.page/barogvalley">Click Here to Open Maps Location</a>    
        <address> <br>
        <abbr title="Phone">P:</abbr> (+91) 90143 20222
        </address>
        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:ganeriwala.home@gmail.com">Soheb Ganeriwala</a>
        </address>
          <address>
          <p class="text-center"><em> Soheb Ganeriwala has been an active member of his real community for over 8 years now, and is so excited to be turning that community focus towards Online Real Estate. <br>
            <br>
            With a passion for service in the Barog, Himachal Pradesh area, Soheb Ganeriwala is ready to help with your home buying and selling needs.<br>
<br>
            As a proud member of the Barog Valley Harison Homes family, Soheb Ganeriwala carries the values of hard work, integrity, and outstanding client service into everything he does.<br>
<br>
            When Soheb Ganeriwala isn’t making home ownership dreams come true for his clients, he enjoys spending time Shooting Videos and Riding Motorbikes. </em></p>
          </address>
      </div>
      </div>
  </div>
<footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright ©Soheb Ganeriwala (TheShotScout). All rights reserved. Addded something new test</p>
        </div>
      </div>
    </div>
  </footer>