<div class="row" id="contatti">
    <div class="container mt-3" >
    
        <div class="row" style="height:60vh;">
          <div class="col-md-6 maps" >
             <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.8733574847333!2d77.0655541151353!3d30.89020358158241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f8684a4bc6455%3A0xc62acc7c1b178916!2sBarog%20Valley%20(HARISON%20HOMES)!5e0!3m2!1sen!2sin!4v1597951013774!5m2!1sen!2sin" frameborder="0" style="border:0" allowfullscreen></iframe> -->
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.8733574847333!2d77.0655541151353!3d30.89020358158241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f8684a4bc6455%3A0xc62acc7c1b178916!2sBarog%20Valley%20(HARISON%20HOMES)!5e0!3m2!1sen!2sin!4v1597951013774!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="col-md-6">
            <h2 class="text-uppercase mt-3 font-weight-bold text-white">Contact Us</h2>
            <form action="">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" placeholder="Full Name" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" placeholder="Property type" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control mt-2" placeholder="Email" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control mt-2" placeholder="TelePhone" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="3" required></textarea>
                  </div>
                </div>
                    <div class="col-12">
                  <button class="btn btn-light" type="submit">Submit</button>
                </div>
              </div>
            </form>
            <div class="text-white">
            <h2 class="text-uppercase mt-4 font-weight-bold">Address</h2>
    
            <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+91) 90413 20222</a><br>
            <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+91) 70096 16185</a><br>
            <i class="fa fa-envelope mt-3"></i> <a href="">baroghills@gmail.com</a><br>
            <i class="fas fa-globe mt-3"></i> Directly on NH5, Vil. Dhagota, P/o.Kumarhatti, Tehsil & District Solan<br>
            <i class="fas fa-globe mt-3"></i> opposite DAV school, Barog, Himachal Pradesh 173229<br>
            <div class="my-4">
            <a href="https://www.facebook.com/HarisonsHomes/"><i class="fab fa-facebook fa-3x pr-4"></i></a>
            <a href="https://www.linkedin.com/company/barog-valley-harison-homes"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            </div>
          </div>
    
        </div>
    </div>
    </div>