<div class="container-fluid mt-3">
    <div class="row">
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">1 BHK Weather </h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https:///www.youtube.com/embed/LIbCQ-oX1pY" allowfullscreen></iframe>
    </div>
</div>
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">Snowfall</h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jU7QRFIoICc" allowfullscreen></iframe>
    </div>
</div>
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">Land For Sale</h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X3Q6cGEkdiU?rel=0" allowfullscreen></iframe>
    </div>
</div>
</div>
    <div class="row">
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">3BHK Hyperlapse</h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3aEkfx5E5dI?rel=0" allowfullscreen></iframe>
    </div>
</div>
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">Snowfall</h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cpPeyYTbOPc?rel=0" allowfullscreen></iframe>
    </div>
</div>
<div class="col-sm">
  <h1 class="text-uppercase mt-3 font-weight-bold text-black">2BHK Walkaround</h1>
<div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cgtCmqUArQ4?rel=0" allowfullscreen></iframe>
    </div>
</div>
</div>
</div>